---
import Navigation from '../components/Navigation.astro';

---
<footer>
    <details>
        <summary>Copyright by Ödelweb</summary>
        <p>You can get in touch with the copyright owner by <a href="mailto:odelweb@odelweb.com">email</a>.</p>
    </details>
    <details>
        <summary>Cookies</summary>
        <p>Ya no hay trilobites en el mar y en Siberia no queda ni un mamut.</p>
    </details> 
</footer>